venv
.ipynb_checkpoints/
.DS_Store
HAM10000_images_part_1
HAM10000_images_part_2
HAM10000_224
*.keras
*.txt

__pycache__/

# ignore all CSV files except metadata.csv
*.csv
!metadata.csv

# ignore Markdown files
*.md
!README.md
!IMAGE_PREPROCESSOR.md
!TRAINING_PIPELINE.md